.logo {
  width: 100px;
}
.portada {
  width: 99vw;
  height: 93vh;
}
.inicio-info1 {
  height: 46vh;
}
.inicio-info2 {
  height: 46vh;
}
.block-navbar {
  position: sticky;
  top: 0;
}
p {
  font-size: 25px;
}
.info-img {
  width: 70%;
}
.portada_text {
  margin-left: 60px;
  margin-top: -105px;
  position: absolute;
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 10px #282828;
}
.texto_contacto_title {
  font-size: 3.5rem;
}
.texto_contacto {
  font-size: 2rem;
}
.texto_contacto2 {
  font-size: 1.5rem;
}
.icon_contacto {
  width: 10vw;
}
.recetas_image {
  width: 80%;
}
.recetas_box {
  margin-bottom: 10vh;
}
.recetas_texto {
  font-size: medium;
}
.etiqueta {
  margin-top: 10vh;
}
.navbar {
  z-index: 10;
}
.portada-img {
  max-width: 100%;
  height: auto;
}
.text-recetas {
  margin-left: 50px;
}
.portada-img2 {
  display: none;
}

@media screen and (max-width: 575px) {
  .invertir {
    display: flex;
    flex-direction: column-reverse;
  }
  .portada_text {
<<<<<<< HEAD:css/style.css
    margin-top: -65px !important;
    font-size: 3.5rem !important;
=======
    margin-top: -62px !important;
    font-size: 3rem !important;
  }
  .portada-img2 {
    display: inline;
    max-width: 100%;
  }
  .portada-img {
    display: none;
>>>>>>> d131dc88c057e80e6c4a3c5de8deaad6177a6789:style.css
  }
}

@media screen and (max-width: 620px) {
  .info-img {
    width: 100%;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
<<<<<<< HEAD:css/style.css
  .portada-img {
    object-fit: cover;
    height: 13vh;
=======
  .portada_text {
    margin-top: -73px !important;
    font-size: 3.5rem !important;
  }
  .portada-img2 {
    display: inline;
    max-width: 100%;
  }
  .portada-img {
    display: none;
>>>>>>> d131dc88c057e80e6c4a3c5de8deaad6177a6789:style.css
  }
}

@media screen and (max-width: 780px) {
  .info-img {
    width: 100%;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .portada_text {
<<<<<<< HEAD:css/style.css
    margin-top: -75px !important;
=======
    margin-top: -82px;
>>>>>>> d131dc88c057e80e6c4a3c5de8deaad6177a6789:style.css
    font-size: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .info-img {
    width: 80%;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .info-img {
    width: 80%;
  }
}

@media screen and (max-height: 600px) {
  .etiqueta {
    margin-top: 20vh;
  }
  .info-img {
    width: 80%;
  }
  .recetas_box {
    margin-bottom: 150px;
  }
}

@media screen and (max-height: 800px) {
  .etiqueta {
    margin-top: 15vh;
  }
  .info-img {
    width: 80%;
  }
}
